all filter=lfs diff=lfs merge=lfs -text
JSON filter=lfs diff=lfs merge=lfs -text
files filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
\# filter=lfs diff=lfs merge=lfs -text
Track filter=lfs diff=lfs merge=lfs -text
data/large_file.json filter=lfs diff=lfs merge=lfs -text
